html
doctype html
head
    title User is valid
    link(rel="stylesheet" href="/style.css")
body
    if (user)
        a(href="/logout/" style="float: right;") Logout
    h1 User is Valid

    if (error)
        p An Error Occured: #{error}
    if (auth_error)
        p An Auth Error Occured: #{auth_error}
    if (user)
        p You logged in as #{user.login}

    p Hello valid moderator!
